@font-face {

	font-family: 'LSANSI';
	src: url('./fonts/LSANSI.eot');
	src: url('./fonts/LSANSI.eot?iefix') format('eot'),
		/* url('./fonts/LSANSI.woff') format('woff'), */
		url('./fonts/LSANSI.TTF') format('truetype'),
		url('./fonts/LSANSI.svg#webfont') format('svg');

	font-weight: normal;
	font-style: italic;

}

@font-face {

	font-family: 'SegoeWP';
	src: url('./fonts/SegoeWP.eot');
	src: url('./fonts/SegoeWP.eot?iefix') format('eot'),
		/* url('./fonts/LSANSI.woff') format('woff'), */
		url('./fonts/SegoeWP.TTF') format('truetype'),
		url('./fonts/SegoeWP.svg#webfont') format('svg');

	font-weight: normal;
	font-style: normal;

}

@font-face {

	font-family: 'SegoeUI';
	src: url('./fonts/SegoeUI.eot');
	src: url('./fonts/SegoeUI.eot?iefix') format('eot'),
		/* url('./fonts/LSANSI.woff') format('woff'), */
		url('./fonts/SegoeUI.TTF') format('truetype'),
		url('./fonts/SegoeUI.svg#webfont') format('svg');

	font-weight: normal;
	font-style: normal;

}

@font-face {

	font-family: 'SegoeUI';
	src: url('./fonts/SegoeUI.eot');
	src: url('./fonts/SegoeUI.eot?iefix') format('eot'),
		/* url('./fonts/LSANSI.woff') format('woff'), */
		url('./fonts/SegoeUI.TTF') format('truetype'),
		url('./fonts/SegoeUI.svg#webfont') format('svg');

	font-weight: normal;
	font-style: lighter;

}

body {
	overflow-x: hidden;
	width: 100%;
}

.content {
	max-width: 1020px;
	width: 100%;
	margin: 0 auto;
}

.wrap-container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

.header-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	margin-top: 30px;
}

header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9;
}

.header-logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'LSANSI';
	margin-top: -52px;
}


.header-logo span {
	font-size: 41px;
	text-transform: uppercase;
	color: white;
}

.header-logo div {
	display: inline-block;
}

.header-menu {
	width: 451px;
	height: 39px;
	border: 1px solid #F5C506;
	background-color: #F5C506;
	color: #B99403;
	position: relative;
	z-index: 3;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	font-family: "SegoeWP";
	position: relative;
}

.header-menu::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 41px;
	background-color: #b99403;
	right: 150px;
}

.header-menu::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 41px;
	background-color: #b99403;
	right: 285px;
}

.test {
	position: relative;
	z-index: 3;
	margin: 40px 0px 56px 40px;
}

.test:before {
	content: '';
	width: 451px;
	height: 39px;
	background-color: #9d8418;
	position: absolute;
	z-index: 2;
	top: -4px;
	left: -4px;
}

.test:after {
	content: '';
	width: 451px;
	height: 39px;
	background-color: #7b6b1e;
	position: absolute;
	z-index: 1;
	top: -8px;
	left: -8px;
}

.header-menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size: 17px;
	text-transform: uppercase;
}

.header-menu li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 22px;
	text-decoration: none;
}

.header-menu li a {
	text-decoration: none;
	color: #b99403;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.header-menu li a:hover {
	color: white;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.header-menu img {
	margin-right: 9px;
}



.slider-bg-first {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-image: url(./pictures/Layer1.png);
	background-repeat: no-repeat;
	height: 566px;
	-webkit-background-size: cover;
	background-size: cover;
}

.slider-bg-second {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-image: url(./pictures/Layer2.png);
	background-repeat: no-repeat;
	height: 566px;
	-webkit-background-size: cover;
	background-size: cover;
}

.slider-bg-third {
	background-image: url(./pictures/Layer3.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 170px;
	padding-bottom: 70px;
}

.video-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

}

.video {
	width: 550px;
	z-index: 5;
	position: relative;
}

.video-play {
	position: absolute;
	width: 62px;
	height: 62px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #f5c506;
	opacity: 0.72;
	right: 50%;
	top: 50%;
	margin-right: -31px;
	margin-top: -31px;
	z-index: 2;
}

.video-play:hover {
	background-color: #38300f;
	opacity: 1;
}

.video-play img {
	-webkit-background-size: 18px 32px;
	background-size: 18px 32px;
	background-image: url(./pictures/play.png);
	position: absolute;
	width: 18px;
	height: 32px;
	background-repeat: no-repeat;
	right: 50%;
	top: 50%;
	margin-right: -12px;
	margin-top: -16px;
}

.video-text {
	width: 470px;
	font-size: 63px;
	text-transform: uppercase;
	z-index: 5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-family: 'Asap', sans-serif;
	font-weight: 400;
}

.video-text-top {
	text-align: center;
	color: #f5c506;
}

.video-text-bottom {
	text-align: center;
	color: white;
}


.button-wrapper {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	font-family: 'SegoeUI';
}

section.buttons {
	background-image: url(./pictures/bg-bw.png);
	background-repeat: repeat;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
	position: relative;
}

section.buttons:before {
	background: #f5c007;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	content: '';
	z-index: 2;
	position: absolute;
}

.button-element {
	width: -webkit-calc(100% / 3);
	width: calc(100% / 3);
	font-size: 27px;
	text-transform: uppercase;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.button-element:hover {
	color: #bc7d00;
	;
	transition: opacity .2s;
}

.button-element img:hover {}

.section-review {
	width: 100%;
	background-image: url(./pictures/bg-yalow.png);
	background-repeat: repeat;
	padding-top: 40px;

}
.section-review-media{
	display: none;
}

.section-review-text {
	font-size: 37px;
	color: white;
	padding-bottom: 40px;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
}

.section-review-boxwrap {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

}

.section-review-info {
	width: 272px;
	height: 174px;
	background-color: #ec9e03;
	font-size: 29px;
	color: #f9e2b3;
	padding: 25px 38px 34px 31px;
	font-family: 'SegoeWP';
	position: relative;
}

.section-review-info::after {
	content: '+';
	position: absolute;
	color: #f9e2b3;
	font-size: 25px;
	right: 9px;
	bottom: 13px;
}

.section-review-video {
	background-image: url(./pictures/video-monkey.png);
	width: 315px;
	height: 233px;
	position: relative;
}

.section-review-video-play {
	position: absolute;
	width: 62px;
	height: 62px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #f5c506;
	opacity: 0.72;
	right: 50%;
	top: 50%;
	margin-right: -31px;
	margin-top: -31px;
}

.section-review-video-play:hover {
	background-color: #bc7d00;
	opacity: 1;
}

.section-review-video-play img {
	-webkit-background-size: 18px 32px;
	background-size: 18px 32px;
	background-image: url(./pictures/play.png);
	position: absolute;
	width: 18px;
	height: 32px;
	background-repeat: no-repeat;
	right: 50%;
	top: 50%;
	margin-right: -12px;
	margin-top: -16px;
}

.section-review-twitter {
	background-color: #ec9e03;
	margin-left: 35px;
	position: relative;
}

.section-review-twitter::after {
	content: '22';
	position: absolute;
	color: #f9e2b3;
	font-size: 25px;
	right: 19px;
	top: 20px;
	font-family: 'SegoeWP';
}

.section-review-twitter::before {
	content: '+';
	position: absolute;
	color: #f9e2b3;
	font-size: 25px;
	right: 9px;
	bottom: 13px;
}

.section-review-twitter img {
	padding: 59px 83px 39px 83px;
	display: block;
}

.section-review-calendar {
	width: 113px;
	height: 86px;
	background-color: #ddb101;
	text-align: center;
	font-family: 'Segoe UI';
}

.section-review-calendar-date {
	color: white;
	font-size: 51px;
	line-height: 38px;
	padding-top: 15px;
}

.section-review-calendar-month {
	color: #b46a26;
	font-size: 21px;
	text-transform: uppercase;
}

.section-device {
	background-color: #4c4c4c;
	width: 100%;
	height: 499px;
}

.section-device-text {
	color: #f5c506;
	font-size: 43px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 48px;
	font-family: 'PT Sans', sans-serif;
}

.section-device-boxwrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 40px;
}

.section-device-img {
	width: 62%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.section-device-list {
	width: 38%;
	font-size: 22px;
	color: #a9a9a7;
	font-family: 'Open Sans', sans-serif;
}

.section-device-list ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.section-device-list ul li {
	position: relative;
	padding-left: 35px;
	padding-bottom: 30px;
}

.section-device-list ul li:before {
	background: #f5c506;
	content: '';
	position: absolute;
	left: 0;
	top: 6px;
	width: 15px;
	height: 15px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.section-device-img-tablet {
	margin-top: 40px;
	margin-left: 24px;
}

.section-device-img-phone {
	margin-left: 25px;
	margin-top: 150px;
}

.section-device-img::before {
	content: "";
	width: 116px;
	height: 116px;
	background-color: #f5c506;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	left: -24px;
	top: -41px;
	position: absolute;
}

.section-device-img::after {
	content: "its 100% free";
	font-size: 19px;
	text-transform: uppercase;
	color: white;
	left: -20px;
	top: 6px;
	position: absolute;
	letter-spacing: 0.51px;
	font-family: 'PT Sans Narrow', sans-serif;
}

.section-footer {
	background-color: #4c4c4c;
	width: 100%;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
}

.section-footer-logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 7px;
	padding-bottom: 5px;
}

.section-footer-logo-text {
	font-size: 29px;
	text-transform: uppercase;
	color: white;
	padding-left: 5px;
	font-family: 'LSANSI';
}

.section-review-slider-wrap {
	display: flex;
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 896px;
	height: 15px;
	background: #ffffff;
	outline: none;
	opacity: 0.48;
	border-radius: 30px;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 43px auto 21px auto;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 197px;
	height: 15px;
	border-radius: 30px;
	background: #ec9e03;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #ec9e03;
	cursor: pointer;
}

.left-btn,
.right-btn {
	width: 32px;
	height: 57px;
	background-color: #f5c506;
	position: absolute;

}

.right-btn {
	right: 0;
	top: 300px;

}

.left-btn {
	left: 0;
	top: 300px;
}

.right-btn img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 19px;
}

.left-btn img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 19px;
}


.icon-wrapper {
	display: flex;
	min-width: 109px;
	min-height: 112px;
	align-items: flex-end;
	padding-bottom: 12px;
}

body>main>section.buttons>div>div:nth-child(1) {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

body>main>section.buttons>div>div:nth-child(2) {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	;
}

body>main>section.buttons>div>div:nth-child(3) {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	;
}


@media (max-width: 1100px) {
	.section-device-img::after {
		left: 4px;
	}

	.section-device-img::before {
		left: 0;
	}
}

@media (max-width: 865px) {
	.video-text{
		display: none;
	}
	.video-wrapper{
		justify-content: center;
	}
	.section-device-list{
		display: none;
	}
	.section-device-boxwrap{
		justify-content: center;
	}
	.section-review-info{
		font-size: 28px;
		padding: 17px 29px 16px 20px;
	}
}

@media (max-width: 865px){
	.test:before {
		display: none;
	}

	.test:after {
		display: none;
	}
	.test {
		margin: 0px;
	}

	.header-wrap {
		margin-top: 0px;
	}
	.header-logo {
		margin-top: 0px;
		background: linear-gradient(to top, rgba(0, 0, 0, 1) 100%, rgba(255, 255, 255, 1) 100%);
		padding: 12px;
		padding-right: 18px;
		width: 186px;
	}
	.header-logo img {
		width: 38px;
	}

	.header-logo span {
		font-size: 19px;
		letter-spacing: 0.41px;
		padding-left: 8px;
	}

	header.wrap-container {
		padding: 0px;
	}

	.header-menu ul {
		font-size: 19px;
		padding-top: 21px;
		padding-bottom: 20px;
		display: flex;
		width: 100%;
		justify-content: space-around;
	}

	.header-menu {
		border: 0px;
		height: auto;
	}

	.header-menu li {
		margin: 0px;
	}

	.header-menu::before,
	.header-menu::after {
		display: none;
	}

	.section-review{
		display: none;
	}
	.section-review-media {
		display: flex;
		width: 100%;
		padding-top: 40px;
		background-image: url(./pictures/bg-yalow.png);
	}
	.section-review-boxwrap{
		display: block;
	}
	.section-review-media-videowrapp{
		display: flex;
		justify-content: space-around;
	}
	.section-review-twitter::after {
		display: none;
	}
	.section-review-twitter::before {
		display: none;
	}
	.section-review-twitter {
		background-color: hsl(40, 97%, 47%);
		position: relative;
		margin: 0px;
		margin-top: 10px;
		background-color: #f5c507;
	}
	.section-review-twitter{
		display: flex;
		justify-content: space-around;
		padding: 0;
	}
	.section-review-twitter img {
		padding: 0;
		display: block;
	}
	.section-review-twitter-text-wrap{
		padding-top: 23px;
		padding-bottom: 12px;
	}
	.input-holder{
		display: flex;
    padding-top: 15px;
	}
	.input-holder .section-review-twitter-text{
		width: 202px;
    height: 31px;
    padding-bottom: 0px;
    margin-top: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 10px;
    border: 1px solid hsl(41, 98%, 38%);
    border-right: none;
	}
	.input-holder button{
		width: 70px;
		height: 34px;
		background: hsl(41, 98%, 38%);
		color: hsl(0, 0%, 100%);
		display: inline-block;
		box-sizing: border-box;
		border: 1px solid hsl(41, 98%, 38%);
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	.section-review-twitter-img {
		width: 160px;
		height: 134px;
	}
	.section-review-twitter-img-wrapp{
		display: flex;
		align-items: center;
	}
	.section-device-list{
		display: none;
	}

	.section-device-img{
		width: 100%;
		margin-left: 57px;
	}

}
@media (max-width: 641px){
	.slider-bg-third {
		background: none;
		padding-top: 62px;
		padding-bottom: 0px;
	}

	.video {
		width: 100%;
	}

	.video video {
		width: 100%;
		object-fit: inherit;
	}
	section.buttons {
		box-shadow: none;
	}

	section.buttons:before {
		display: none;
	}
	body>main>section.buttons>div>div:nth-child(2) {
		border-right: none;
		border-left: none;
	}

	body>main>section.buttons>div>div:nth-child(3) {
		border-right: none;
	}
	.button-element {
		font-size: 23px;
		padding-top: 33px;
		padding-bottom: 33px;
	}

	.icon-wrapper {
		min-width: 89px;
		min-height: 69px;
	}

	.icon-wrapper img:nth-child(1) {
		width: 89px;
		height: 61px;
	}

	.icon-wrapper img:nth-child(2) {
		width: 67px;
		height: 69px;
	}

	.icon-wrapper img:nth-child(3) {
		width: 68px;
		height: 69px;
	}
	.section-review-info{
		box-sizing: border-box;
		width: 299px;
		height: 232px;
	}
	.section-review-video{
		box-sizing: border-box;
		width: 315px;
		height: 232px;
	}
	
	.section-device-wrap{
		font-size: 39px;
		
	}
	.section-device-boxwrap{
		margin-top: 0;
		padding-top: 40px;
	}
	.section-device{
		height: auto;
	}
	.section-device-text{
		padding-top: 32px;
	}
	.section-device-img{
		margin-top: 31px;
		padding-bottom: 41px;
	}
	.section-footer-logo{
		font-size: 29px;
		margin-left: 65px;
		
	}
	.section-footer-logo img{
		width: 30px;
		height: 30px;
		margin-bottom: 7px;
	}
	.section-review-media{
		padding-top: 10px;
		background-image: none;
	}
}
